---
- name: Load OS-specific variables
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - ../vars/{{ ansible_os_family }}.yml
    - ../vars/{{ ansible_distribution_release }}.yml
    - ../vars/empty.yml
  tags:
    - always

- name: Ensure Java runtime packages are installed
  ansible.builtin.package:
    name: '{{ kafka_java_packages }}'
    state: present
  when: kafka_java_packages | length > 0
  become: true
  tags:
    - kafka_java

- name: Initialize Java environment overrides
  ansible.builtin.set_fact:
    kafka_java_env: {}
  tags:
    - kafka_java

- name: Build Java environment overrides when JAVA_HOME is set
  ansible.builtin.set_fact:
    kafka_java_env:
      JAVA_HOME: "{{ kafka_java_home }}"
      PATH: "{{ kafka_java_home }}/bin:{{ ansible_env.PATH | default('/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin') }}"
  when: kafka_java_home | default('') | length > 0
  tags:
    - kafka_java

- name: Determine Java executable path
  ansible.builtin.set_fact:
    kafka_java_executable: >-
      {{ (kafka_java_home | default('') | length > 0)
         | ternary(kafka_java_home ~ '/bin/java', 'java') }}
  tags:
    - kafka_java

- name: Capture Java version string
  ansible.builtin.shell: |
    {{ kafka_java_executable }} -version 2>&1 | awk -F '"' '/version/ {print $2; exit}'
  args:
    executable: /bin/bash
  register: kafka_java_version
  changed_when: false
  failed_when: kafka_java_version.rc != 0
  environment: '{{ kafka_java_env | default({}) }}'
  tags:
    - kafka_java

- name: Cache Java version string
  ansible.builtin.set_fact:
    kafka_java_version_string: '{{ kafka_java_version.stdout | trim }}'
  tags:
    - kafka_java

- name: Ensure Java 17 or newer is available
  ansible.builtin.assert:
    that:
      - kafka_java_version_string | length > 0
      - kafka_java_version_string is version('17', '>=')
    fail_msg: 'Kafka requires Java 17 or newer. Detected version: {{ kafka_java_version_string | default("unknown") }}'
  tags:
    - kafka_java

- name: Create kafka group
  ansible.builtin.group:
    name: '{{ kafka_group }}'
    state: present
    system: yes
  when: kafka_create_user_group | bool
  tags:
    - kafka_group

- name: Create kafka user
  ansible.builtin.user:
    name: '{{ kafka_user }}'
    group: '{{ kafka_group }}'
    state: present
    createhome: no
    system: yes
  when: kafka_create_user_group | bool
  tags:
    - kafka_user

- name: Check if Kafka has already been downloaded and unpacked
  ansible.builtin.stat:
    path: '{{ kafka_dir }}_{{ kafka_scala_version }}-{{ kafka_version }}'
  register: dir

- name: Download Apache Kafka
  ansible.builtin.get_url:
    url: '{{ kafka_download_base_url }}/{{ kafka_version }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz'
    dest: /tmp
    validate_certs: '{{ kafka_download_validate_certs }}'
    mode: '0644'
  when: not dir.stat.exists
  tags:
    - kafka_download

- name: Unpack Apache Kafka
  ansible.builtin.unarchive:
    src: /tmp/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
    dest: '{{ kafka_root_dir }}'
    copy: no
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  when: not dir.stat.exists
  tags:
    - kafka_unpack

- name: Create symlink to kafka installation directory
  ansible.builtin.file:
    src: '{{ kafka_root_dir }}/kafka_{{ kafka_scala_version }}-{{ kafka_version }}'
    dest: '{{ kafka_dir }}'
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_dirs

- name: Create directory for kafka data log files
  ansible.builtin.file:
    path: '{{ item }}'
    state: directory
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0755'
  with_items: "{{ kafka_data_log_dirs.split(',') }}"
  tags:
    - kafka_dirs

- name: Create directory for kafka application logs
  ansible.builtin.file:
    path: '{{ kafka_log_dir }}'
    state: directory
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0755'
  tags:
    - kafka_dirs

- name: Register directory status for application log files
  ansible.builtin.stat:
    path: '{{ kafka_dir }}/logs'
  register: application_logs_dir
  tags:
    - kafka_dirs

- name: Create symlink to application log directory
  ansible.builtin.file:
    src: '{{ kafka_log_dir }}'
    dest: '{{ kafka_dir }}/logs'
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0755'
    follow: no
  when: not application_logs_dir.stat.exists
  tags:
    - kafka_dirs

- name: Create directory for symlink to kafka configuration files
  ansible.builtin.file:
    path: /etc/kafka
    state: directory
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0755'
  tags:
    - kafka_dirs

- name: Template configuration file to server.properties
  ansible.builtin.template:
    src: server.properties.j2
    dest: '{{ kafka_dir }}/config/server.properties'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  notify:
    - Restart kafka service
  tags:
    - kafka_config

- name: Template configuration file to connect-standalone.properties
  ansible.builtin.template:
    src: connect-standalone.properties.j2
    dest: '{{ kafka_dir }}/config/connect-standalone.properties'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  tags:
    - kafka_config

- name: Template configuration file to connect-distributed.properties
  ansible.builtin.template:
    src: connect-distributed.properties.j2
    dest: '{{ kafka_dir }}/config/connect-distributed.properties'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  tags:
    - kafka_config

- name: Template configuration file to producer.properties
  ansible.builtin.template:
    src: producer.properties.j2
    dest: '{{ kafka_dir }}/config/producer.properties'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  tags:
    - kafka_config

- name: Template configuration file to consumer.properties
  ansible.builtin.template:
    src: consumer.properties.j2
    dest: '{{ kafka_dir }}/config/consumer.properties'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  tags:
    - kafka_config

- name: Template configuration file to log4j2.xml
  ansible.builtin.template:
    src: log4j2.xml.j2
    dest: '{{ kafka_dir }}/config/log4j2.xml'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  tags:
    - kafka_config

- name: Create symlink to kafka server properties file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/server.properties'
    dest: /etc/kafka/server.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka connect standalone properties file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/connect-standalone.properties'
    dest: /etc/kafka/connect-standalone.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka connect distributed properties file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/connect-distributed.properties'
    dest: /etc/kafka/connect-distributed.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka producer properties file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/producer.properties'
    dest: /etc/kafka/producer.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka consumer properties file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/consumer.properties'
    dest: /etc/kafka/consumer.properties
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Create symlink to kafka log4j2 configuration file
  ansible.builtin.file:
    src: '{{ kafka_dir }}/config/log4j2.xml'
    dest: /etc/kafka/log4j2.xml
    state: link
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
  tags:
    - kafka_config

- name: Template Kafka init.d service file
  ansible.builtin.template:
    src: kafka.initd.j2
    dest: /etc/init.d/kafka
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  notify:
    - Reload initd
    - Restart kafka service
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == '6'
  tags:
    - kafka_service

- name: Template kafka systemd service
  ansible.builtin.template:
    src: kafka.service.j2
    dest: '{{ kafka_unit_path }}'
    group: '{{ kafka_group }}'
    owner: '{{ kafka_user }}'
    mode: '0644'
  notify:
    - Restart kafka systemd
  when: ansible_os_family == "RedHat" and ansible_distribution_major_version > '6' or ansible_os_family == "Debian"
  tags:
    - kafka_service

- name: Check if KRaft storage has been formatted
  ansible.builtin.stat:
    path: '{{ kafka_data_log_dirs.split(",")[0] }}/meta.properties'
  register: kraft_meta_properties
  tags:
    - kafka_service

- name: Set cluster UUID from variable or generate if not provided
  ansible.builtin.set_fact:
    kafka_cluster_uuid_final: >-
      {{ kafka_cluster_uuid | default('') if (kafka_cluster_uuid | default('')) | length > 0
         else lookup('pipe', kafka_dir ~ '/bin/kafka-storage.sh random-uuid') }}
  when: not kraft_meta_properties.stat.exists
  environment: '{{ kafka_java_env | default({}) }}'
  run_once: true
  tags:
    - kafka_service

- name: Display cluster UUID being used
  ansible.builtin.debug:
    msg: "Using cluster UUID: {{ kafka_cluster_uuid_final }}"
  when: not kraft_meta_properties.stat.exists
  tags:
    - kafka_service

- name: Format KRaft storage
  ansible.builtin.command:
    cmd: '{{ kafka_dir }}/bin/kafka-storage.sh format -t {{ kafka_cluster_uuid_final }} -c {{ kafka_dir }}/config/server.properties'
  become: true
  become_user: '{{ kafka_user }}'
  when: not kraft_meta_properties.stat.exists
  changed_when: true
  environment: '{{ kafka_java_env | default({}) }}'
  tags:
    - kafka_service

- name: Install and start the kafka service
  ansible.builtin.service:
    name: kafka
    state: started
    enabled: yes
  when: kafka_start
  tags:
    - kafka_service

- name: Delete the kafka archive file
  ansible.builtin.file:
    path: /tmp/kafka_{{ kafka_scala_version }}-{{ kafka_version }}.tgz
    state: absent
  tags:
    - kafka_cleanup
